<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>공원 맵 리스트</title>
    {% load static %}
    <script src="{% static 'javascript/parkmap/parkmap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/parkmap/parkmap.css' %}">
</head>
<body>

<p>
    <button onclick="goToMain()">메인화면</button>
</p>

<script>
    function goToMain() {
        window.location.href = "/";
    }
</script>

<div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

    <div class="custom_gpscontrol radius_border">
        <button class="btn" onclick="getCurrentLocation()">현재위치</button>

    </div>

    <!-- 지도타입 컨트롤 div 입니다 -->
    <div class="custom_typecontrol radius_border">
        <span id="btnRoadmap" class="selected_btn" onclick="setMapType('roadmap')">지도</span>
        <span id="btnSkyview" class="btn" onclick="setMapType('skyview')">스카이뷰</span>
    </div>
    <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
    <div class="custom_zoomcontrol radius_border">
        <span onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png"
                                      alt="확대"></span>
        <span onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png"
                                       alt="축소"></span>
    </div>
</div>


<!-- KAKAO MAP API -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3846fc8bc0b20dc19cf0e95eaf93840c"></script>

<script>

    getCurrentLocation()

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var positions = []  // 미용실 위치 담는 배열

    {% for park in parks %}
        positions.push({
            title: '{{ park.title }}',
            location: '{{ park.location }}',
            latlng: new kakao.maps.LatLng({{ park.longitude }}, {{ park.latitude }})
        });
    {% endfor %}

    var imageSrc = "/image/parkmap/blank.png";

    for (var i = 0; i < positions.length; i++) {

        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(0, 0);

        // 마커 이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image: markerImage // 마커 이미지
        });

        var content = '<div class="customoverlay">' +
            '  <a href="/parkmap/details?title=' + encodeURIComponent(positions[i].title) +
            '&location=' + encodeURIComponent(positions[i].location) +
            '" target="_blank">' +
            '    <span class="title">' + positions[i].title + '</span>' +
            '  </a>' +
            '</div>';

        var customOverlay = new kakao.maps.CustomOverlay({
            map: map,
            position: positions[i].latlng,
            content: content,
            yAnchor: 1
        });

    }

</script>
</body>
</html>