<!DOCTYPE html>
<html>
<head>
    <title>똥강아지 후기게시판</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% load static %}
    <link rel="stylesheet" href="{% static 'css/reviewboard/review_post_base_Style.css' %}">

    <script>
        function goToFreeBoard() {
            window.location.href = "/boardlist/freeboard/";
        }

        function goToBoastBoard() {
            window.location.href = "/boardlist/boastboard/";
        }

        function goToMarketBoard() {
            window.location.href = "/boardlist/marketboard/";
        }

        function goToReviewBoard() {
            window.location.href = "/boardlist/reviewboard/";
        }
    </script>

</head>
<body>

<div class="head_container">
    <button class="menu_btn">메뉴바</button>
    <script>
        document.getElementsByClassName('menu_btn')[0].addEventListener('click', function () {
            window.location.href = '/';
        });
    </script>
    <span class="title_text">후기게시판 &#x1f436;</span>
    <span class="sub_text">반려용품을 직접 구매한 생생한 후기를 공유하는 게시판입니다</span>
    {% if loginCheck %}
        <button class="mp_btn"> My page</button>
        <button class="logout_btn"> Logout</button>
        <script>
            document.getElementsByClassName('mp_btn')[0].addEventListener('click', function () {
                window.location.href = '/user/mypage';
            });
            document.getElementsByClassName('logout_btn')[0].addEventListener('click', function () {
                window.location.href = '/user/logout';
            });
        </script>
    {% else %}
        <button class="login_btn"> Login</button>
        <button class="join_btn"> Join</button>
        <script>
            document.getElementsByClassName('login_btn')[0].addEventListener('click', function () {
                window.location.href = '/user/login';
            });
            document.getElementsByClassName('join_btn')[0].addEventListener('click', function () {
                window.location.href = '/user/join';
            });
        </script>
    {% endif %}

</div>

<hr/>



{% block content %}
{% endblock %}

</body>
</html>
