#header {
    position: fixed;
    height: 60px;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    border-bottom: 2px solid #976B5B;
}

#email {
    position: relative;
    float: left;
    width: 270px;
    height: 45px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #D5D5D5;
}

#verifyEmail_btn {
    position: relative;
    float: left;
    width: 80px;
    height: 45px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #976B5B;
    color: white;
    background-color: #976B5B;
}

#nickname {
    position: relative;
    float: left;
    width: 270px;
    height: 45px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #D5D5D5;
}

#verifyNickname_btn {
    position: relative;
    float: left;
    width: 80px;
    height: 45px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #976B5B;
    color: white;
    background-color: #976B5B;
}

#name {
    width: 350px;
    height: 45px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #D5D5D5;
}


#breed {
    width: 350px;
    height: 45px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #D5D5D5;
}

#password {
    width: 350px;
    height: 45px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #D5D5D5;
}

#add_button {
    width: 350px;
    height: 60px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #976B5B;
    color: white;
    background-color: #976B5B;
    font-weight: bold;
    font-size: 17px;
}

.menu_btn {
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: white;
    float: left;
}

.action_btn {
    position: relative;
    height: 50px;
    width: 70px;
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    background-color: white;
    color: #976B5B;
    font-family: Bold Italic;
    font-size: 15px;
    border: none;
    font-weight: bold;
}

.container {
    position: absolute;
    width: 358px;
    margin-top: 45px;
    top: 30px;
    left: 530px;
}


.headtitle {
    font-size: 45px;
    color: #976B5B;
    margin: 40px;
}

.tag {
    margin: 20px;
    color: #976B5B;
    font-weight: bold;
    font-size: 16px;
}

.idContainer {
    position: fixed;
    width: 358px;
    height: 45px;
}


.form_radio_btn {
    font-weight: bold;
    user-select: none;
    margin-right: 5%;
    width: 10%;
    float: left;
    height: 45px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #D5D5D5;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    display: block;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    line-height: 40px;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    background: #976B5B;
    color: #fff;
}

/* Hover */
.form_radio_btn label:hover {
    color: #666;
}

/* Disabled */
.form_radio_btn input[type=radio] + label {
    background: #F9FAFC;
    color: #666;
}


span::after {
    height: 45px;
    line-height: 40px;
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

input:invalid + span::after {
    color: red;
    content: '❌';
}

input:valid + span::after {
    color: green;
    content: '✔︎';
}

.date_wrap {
    position: relative;
    float: left;
    text-align: center;
    width: 270px;
    height: 45px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #D5D5D5;
}

.breed_btn {
    background-color: #fff;
    color: #976B5B;
    margin-top: 10px;
    margin-left: 160px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #D5D5D5;
}

.breed_btn:hover {
    background-color: #D5D5D5;
    border: 2px solid #976B5B;
}

.enable_btn {
    background-color: #fff;
    color: #976B5B;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #D5D5D5;
}

.enable_btn:hover {
    background-color: #D5D5D5;
    border: 2px solid #976B5B;
}

.normal_text {
    margin: 5px;
    color: #976B5B;
    font-weight: bold;
    font-size: 12px;
}