<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>가까운 미용실 리스트</title>
    {% load static %}
    <script src="{% static 'javascript/storemap/storemap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/storemap/storemap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div id="menubar">
    <button class="menu_btn">메뉴바</button>
    <script>
        document.getElementsByClassName('menu_btn')[0].addEventListener('click', function () {
            window.location.href = '/';
        });
    </script>

    {% if loginCheck %}
        <button class="mp_btn"> My page</button>
        <button class="logout_btn"> Logout</button>
        <script>
            document.getElementsByClassName('mp_btn')[0].addEventListener('click', function () {
                window.location.href = '/user/mypage';
            });
            document.getElementsByClassName('logout_btn')[0].addEventListener('click', function () {
                window.location.href = '/user/logout';
            });
        </script>
    {% else %}
        <button class="login_btn"> Login</button>
        <button class="join_btn"> Join</button>
        <script>
            document.getElementsByClassName('login_btn')[0].addEventListener('click', function () {
                window.location.href = '/user/login';
            });
            document.getElementsByClassName('join_btn')[0].addEventListener('click', function () {
                window.location.href = '/user/join';
            });
        </script>
    {% endif %}

</div>
<div style="clear: both;"></div>


<div style="clear:both"></div>

<nav class="ani-navbar">
    <h4 id>Menu</h4>
    <p id="board_bar" class="nav_bar_btn">게시판</p>
    <p id="storemap_bar" class="nav_bar_btn">가까운 미용실</p>
    <p id="chatbot_bar" class="nav_bar_btn">왜 아플까?</p>
    <p id="parkmap_bar" class="nav_bar_btn">산책 경로 추천</p>
    <p id="style_bar" class="nav_bar_btn">스타일 추천</p>
    <p style="margin-top:50px"><i class="fa-solid fa-dog fa-2xl"> </i></p>
</nav>

<script>
    function goToMain() {
        window.location.href = "/";
    }
</script>

<div class="map_aside">
    <hr class="bigline">
    <br>
    <h1 class="maintext">가까운</h1>
    <h1 class="maintext">미용실</h1>
    <br>
    <hr class="smallline">
    <br>
    <h2 class="maintext">지도 보기</h2>
    <h2 class="othertext">목록 보기</h2>
    <br>
    <hr class="smallline">
</div>

<div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

    <div class="custom_gpscontrol radius_border">
        <button class="btn" onclick="getCurrentLocation()">현재위치</button>

    </div>

    <!-- 지도타입 컨트롤 div 입니다 -->
    <div class="custom_typecontrol radius_border">
        <span id="btnRoadmap" class="selected_btn" onclick="setMapType('roadmap')">지도</span>
        <span id="btnSkyview" class="btn" onclick="setMapType('skyview')">스카이뷰</span>
    </div>
    <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
    <div class="custom_zoomcontrol radius_border">
                <span onclick="zoomIn()"><img
                        src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>
        <span onclick="zoomOut()"><img
                src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
    </div>
</div>

</div>

<script>
    document.getElementsByClassName('othertext')[0].addEventListener('click', function () {
        window.location.href = '/storemap/maplist';
    });
</script>

<script>
    document.getElementsByClassName('menu_btn')[0].addEventListener('click', function () {
        window.location.href = '/';
    });
    document.getElementById('board_bar').addEventListener('click', function () {
        window.location.href = '/boardlist';
    });
    document.getElementById('storemap_bar').addEventListener('click', function () {
        window.location.href = '/storemap';
    });
    document.getElementById('parkmap_bar').addEventListener('click', function () {
        window.location.href = '/parkmap';
    });
    document.getElementById('chatbot_bar').addEventListener('click', function () {
        window.location.href = '/chatgpt';
    });
    document.getElementById('style_bar').addEventListener('click', function () {
        //window.location.href = '/style';
        alert('아직 준비중!')
    });
</script>


<!-- KAKAO MAP API -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3846fc8bc0b20dc19cf0e95eaf93840c"></script>

<script>

    getCurrentLocation()

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var positions = []  // 미용실 위치 담는 배열

    {% for store in stores %}
        positions.push({
            title: '{{ store.name }}',
            location: '{{ store.location }}',
            open_hours: '{{ store.open_hours }}',
            phone: '{{ store.phone_number }}',
            rating: '{{ store.rating }}',
            visitor_review: '{{ store.visitor_review }}',
            blog_review: '{{ store.blog_review }}',
            website: '{{ store.website }}',
            latlng: new kakao.maps.LatLng({{ store.longitude }}, {{ store.latitude }}),

        });
    {% endfor %}

    var imageSrc = "";

    for (var i = 0; i < positions.length; i++) {

        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(0, 0);

        // 마커 이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image: markerImage // 마커 이미지,
        });

        var content = '<div class="customoverlay">' +
            '  <a href="/storemap/details?title=' + encodeURIComponent(positions[i].title) +
            '">' +
            '    <span class="title">' + positions[i].title + '</span>' +
            '  </a>' +
            '</div>';

        var customOverlay = new kakao.maps.CustomOverlay({
            map: map,
            position: positions[i].latlng,
            content: content,
            yAnchor: 1
        });

    }

</script>


</body>
</html>