<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>반려동물 미용실 맵 리스트</title>
    {% load static %}
    <script src="{% static 'javascript/storemap/maplist.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/storemap/maplist.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div>
    <div id="menubar">
        <button class="menu_btn">메뉴바</button>
        <script>
            document.getElementsByClassName('menu_btn')[0].addEventListener('click', function () {
                window.location.href = '/';
            });
        </script>

        {% if loginCheck %}
            <button class="mp_btn"> My page</button>
            <button class="logout_btn"> Logout</button>
            <script>
                document.getElementsByClassName('mp_btn')[0].addEventListener('click', function () {
                    window.location.href = '/user/mypage';
                });
                document.getElementsByClassName('logout_btn')[0].addEventListener('click', function () {
                    window.location.href = '/user/logout';
                });
            </script>
        {% else %}
            <button class="login_btn"> Login</button>
            <button class="join_btn"> Join</button>
            <script>
                document.getElementsByClassName('login_btn')[0].addEventListener('click', function () {
                    window.location.href = '/user/login';
                });
                document.getElementsByClassName('join_btn')[0].addEventListener('click', function () {
                    window.location.href = '/user/join';
                });
            </script>
        {% endif %}

    </div>
    <div style="clear: both;"></div>


    <div style="clear:both"></div>

    <nav class="ani-navbar">
        <h4 id>Menu</h4>
        <p id="board_bar" class="nav_bar_btn">게시판</p>
        <p id="storemap_bar" class="nav_bar_btn">가까운 미용실</p>
        <p id="chatbot_bar" class="nav_bar_btn">왜 아플까?</p>
        <p id="parkmap_bar" class="nav_bar_btn">산책 경로 추천</p>
        <p id="style_bar" class="nav_bar_btn">스타일 추천</p>
        <p style="margin-top:50px"><i class="fa-solid fa-dog fa-2xl"> </i></p>
    </nav>

    <script>
        function goToMain() {
            window.location.href = "/";
        }
    </script>

    <div class="map_aside">
        <hr class="bigline">
        <br>
        <h1 class="maintext">가까운</h1>
        <h1 class="maintext">미용실</h1>
        <br>
        <hr class="smallline">
        <br>
        <h2 class="othertext">지도 보기</h2>
        <h2 class="maintext">목록 보기</h2>
        <br>
        <hr class="smallline">
    </div>

    <div class="list_wrap">
        <ul class="ul_list">

        </ul>
    </div>

</div>

<script>
    document.getElementsByClassName('menu_btn')[0].addEventListener('click', function () {
        window.location.href = '/';
    });
    document.getElementById('board_bar').addEventListener('click', function () {
        window.location.href = '/boardlist';
    });
    document.getElementById('storemap_bar').addEventListener('click', function () {
        window.location.href = '/storemap';
    });
    document.getElementById('parkmap_bar').addEventListener('click', function () {
        window.location.href = '/parkmap';
    });
    document.getElementById('chatbot_bar').addEventListener('click', function () {
        window.location.href = '/chatgpt';
    });
    document.getElementById('style_bar').addEventListener('click', function () {
        //window.location.href = '/style';
        alert('아직 준비중!')
    });
    document.getElementsByClassName('othertext')[0].addEventListener('click', function () {
        window.location.href = '/storemap';
    });
</script>


<script>
    get_currnet_coordinate(function (coords) {
        if (coords) {
            const [current_lat, current_lon] = coords;

            var ulElements = document.getElementsByClassName("ul_list");

            for (let i = 0; i < ulElements.length; i++) {
                var ulElement = ulElements[i];

                {% for store in stores %}
                    var liElement = document.createElement("li");
                    liElement.className = "li_style"

                    liElement.addEventListener('click', function(){
                        var st_title = this.querySelector("h1").innerText;
                        window.location.href = '/storemap/details?title=' + encodeURIComponent('{{ store.name }}')
                    })

                    var distance = calculateDistance(
                        current_lat, current_lon,
                        {{ store.longitude }}, {{ store.latitude }}
                    );

                    if (distance <= 2) {
                        var str = "{{ store.open_hours }}"

                        // HTML 엔티티를 일반적인 문자열로 변환
                        var decodedStr = new DOMParser().parseFromString(str, "text/html").body.textContent;

                        var modifiedStr = decodedStr.replace(/'/g, '"')     // ' 처리

                        modifiedStr = modifiedStr.replace(/\n/g, '\\n');    // \n 처리

                        // 문자열을 JavaScript 객체로 파싱
                        var openingHours = JSON.parse(modifiedStr);

                        // 요일과 시간을 저장할 배열
                        var days = [];
                        var hours = [];

                        // 객체를 순회하면서 요일과 시간 추출
                        for (var day in openingHours) {
                            days.push(day);
                            hours.push(openingHours[day]);
                        }

                        var today = new Date();
                        var todayIndex = today.getDay();

                        var todayDay = days[todayIndex];
                        var todayHours = hours[todayIndex];

                        // 1) 요일정보 자체가 없는 경우
                        if (days.length === 0) {
                            todayDay = "요일정보"
                            todayHours = "없음"
                        }

                        // 2) 요일정보 - 없음 을 저장한 경우 , 3) 매일 영업하는 경우
                        if (days[0] === '요일정보' || days[0] === '매일') {
                            todayDay = days[0];
                            todayHours = hours[0];
                        }

                        liElement.innerHTML = `
                        <h1 class="title_text">{{ store.name }}</h1>
                        <span class="rate_text">{{ store.rating }}</span>
                        <span class="vertical_bar">|</span>
                        <span class="openhour_text">${todayDay} : ${todayHours}</span>
                        <span class="vertical_bar">|</span>
                        <span class="phone_text">{{ store.phone_number }}</span>
                        <br><br>
                        <span class="location_text">{{ store.location }}</span>
                        <br><br>
                    `;

                        ulElement.appendChild(liElement);
                    }
                {% endfor %}
            }
        } else {
            console.log('위치 정보를 가져오는 중 오류가 발생했습니다.');
        }
    });
</script>

<script>


</script>

</body>
</html>