
#header {
    position: fixed;
    height: 60px;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    border-bottom: 2px solid #976B5B;
}


.menu_btn {
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: white;
    float: left;
}

.mp_btn {
    position: relative;
    height: 50px;
    width: 70px;
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    background-color: white;
    color: #976B5B;
    font-family: Bold Italic;
    font-size: 15px;
    border: none;
    font-weight: bold;
}

.logout_btn {
    position: relative;
    height: 50px;
    width: 70px;
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    background-color: white;
    color: #976B5B;
    font-family: Bold Italic;
    font-size: 15px;
    border: none;
    font-weight: bold;
}


.ani-navbar {
    border-radius: 60px 60px 60px 60px;
    width: 200px;
    background: #FAEBD7;
    color: #976B5B;
    height: 80%;
    top: 90px;
    padding: 25px;
    position: fixed;
    z-index: 5;
    text-align: right;
    transition: all 1s;
    transform: translateX(-180px);
}

.ani-navbar p, h4 {
    font-family: 'main-font';
}

.ani-navbar:hover {
    transform: translateX(0px);
    text-align: center;
}

.ani-navbar:hover + .fullBody {
    opacity: 0.5;
    transition: all 1s;
}

@keyframes slide {
    0% {
        transform: translateX(-250px)
    }
    50% {
        transform: translateX(50px) skewX(-30deg)
    }
    100% {
        transform: translateX(0px)
    }
}

.ani-navbar p {
    text-align: center;
    margin-top: 2px;
}

.ani-navbar:hover p {
    animation-name: slide;
    animation-duration: 1s;
}

.nav_bar_btn {
    user-select: none;
}

.nav_bar_btn:hover {
    color: black;
}


.map_aside {
    margin-top: 10%;
    position: absolute;
    overflow: hidden;
    left: 6%;
    width: 12%;
    height: 80%;
    background-color: white;
}

.bigline {
    height: 5px;
    background-color: #976B5B;
    border: none;
}

.smallline {
    height: 2px;
    background-color: #F4C1A9;
    border: none;
}

.maintext {
    text-align: center;
    color: #976B5B;
    user-select: none;
}

.maptext {
    text-align: center;
    color: #F4C1A9;
    user-select: none;
}

.listtext {
    text-align: center;
    color: #F4C1A9;
    user-select: none;
}
.maptext:hover {
    color: #976B5B;
}

.listtext:hover {
    color: #976B5B;
}

.container {
    position: absolute;
    width: 430px;
    margin-top: 45px;
    top: 90px;
    left: 570px;
    text-align: left;
}

.container_title {
    font-size: 43px;
    color: #976B5B;
    width: 200px;
    margin-left: 32%;
}

.container_store {
    width: 434px;
    height: 60px;
    border: 2px solid #976B5B;
    border-radius: 30px 30px 30px 30px;
}

.container_store i {
    float: left;
    color: #976B5B;
    margin: 15px;
}

.store_title {
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    color: #976B5B;
    font-weight: bold;
    font-size: 23px;
    user-select: none;
}

.user_title {
    text-align: right;
    color: #976B5B;
    font-weight: bold;
    font-size: 23px;
    user-select: none;
    margin-bottom: 10px;
    text-decoration: underline;
}

#dogSelect {
    margin-left: 17px;
    width: 400px;
    height: 50px;
    border: 2px solid #976B5B;
    border-radius: 30px 30px 30px 30px;
    color: #65483d;
    font-size: 15px;
    font-weight: bold;
}

select option {
    color: #65483d;
    font-weight: bold;
}

.dog_info_container {
    margin-top: 5px;
    text-align: center;
    color: #976B5B;
    font-weight: bold;
}

#breedHeading {
    margin-right: 20px;
}

.date_container {
    display: none;
    margin-top: 10px;
    width: 434px;
    height: 60px;
}

.date_wrap {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    height: 60px;
    color: #976B5B;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #976B5B;
    border-radius: 30px 30px 30px 30px;
}

.time_wrap {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    height: 60px;
    color: #976B5B;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #976B5B;
    border-radius: 30px 30px 30px 30px;
}

.menu_container {
    display: none;
    margin-top: 20px;
    text-align: center;
    color: #65483d;
    border: 2px solid #976B5B;
    border-radius: 30px 30px 30px 30px;
}

.total_container {
    display: none;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #65483d;
    border: 2px solid #976B5B;
    border-radius: 30px 30px 30px 30px;
}

.submit_container{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.pay_btn{
    width: 200px;
    height: 40px;
    border: 2px solid #976B5B;
    border-radius: 30px 30px 30px 30px;
    font-size: 20px;
}

.pay_btn:hover{

}