@font-face {
    font-family: 'main-font';
    src: url(../font/NanumSquareR.ttf);
}


#menubar {
    width: 100%;
    position: fixed;
    height: 60px;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    border-bottom: 2px solid #976B5B;
}

.menu_btn {
    color: #976B5B;
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: white;
    float: left;
}

.action_btn {
    position: relative;
    height: 50px;
    width: 70px;
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    background-color: white;
    color: #976B5B;
    font-family: Bold Italic;
    font-size: 15px;
    border: none;
    font-weight: bold;
}


.mainbody {
    background-color: #976B5B;
    border-radius: 60px 60px 60px 60px;
    margin-top: 100px;
    width: 100%;
    height: 500px;
}

.gpt_question {
    width: 60%;
    height: 10%;
    background-color: antiquewhite;

    margin-top: 100px;
    margin-left: 20%;

    text-align: center;
    font-size: 4vw;
    font-family: 'main-font';
    color: #976B5B;
    padding-top: 20px;
}

.bodytitle {
    font-family: 'main-font';
    text-align: center;
    font-size: 4vw;
    margin-top: 1%;
    color: antiquewhite;
}


.submit_icon {

    margin-left: 1000px;

}

.submit_icon:hover {
    color: brown;
}

.ani-navbar {
    border-radius: 60px 60px 60px 60px;
    margin-top: 100px;
    width: 200px;
    background: #FAEBD7;
    color: #976B5B;
    height: 100%;
    padding: 25px;
    position: fixed;
    z-index: 5;
    text-align: right;
    transition: all 1s;
    transform: translateX(-180px);
}

.ani-navbar p, h4 {
    font-family: 'main-font';
}

.ani-navbar:hover {
    transform: translateX(0px);
    text-align: center;

}

.ani-navbar:hover + .fullBody {
    opacity: 0.5;

    transition: all 1s;
}


@keyframes slide {
    0% {
        transform: translateX(-250px)
    }
    50% {
        transform: translateX(50px) skewX(-30deg)
    }
    100% {
        transform: translateX(0px)
    }
}

.ani-navbar p {
    text-align: center;
    margin-top: 2px;
}

.ani-navbar:hover p {
    animation-name: slide;
    animation-duration: 1s;
}

.answerBox {
    width: 1000px;
    margin: auto;
    margin-top: 20px;

}

.answer {
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    font-family: 'main-font';
    color: black;
}

.answer:nth-child(2n+1) {
    border-radius: 20px;
    float: left;
    width: 18%;
    height: 40px;
    background-color: #FAEBD7;
}

.answer:nth-child(2n) {
    border-radius: 20px;
    float: left;
    width: 18%;
    height: 40px;
    background-color: #976B5B;
}

#solution {
    display: none;
    background-color: #976B5B;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}

#solution h2 {
    font-family: 'main-font';
    color: #FAEBD7;
    text-align: center;
    margin-top: 10px;
}

.solutionBox {
    margin-left: 20px;
}

#loadingWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.loadingText {
    margin: auto;
    margin-top: 300px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;

    border-radius: 5px;
}

.solution-loading {
    pointer-events: none; /* Disable pointer events while loading */
    opacity: 0.5; /* Reduce opacity while loading */
}


.mp_btn {
    position: relative;
    height: 50px;
    width: 70px;
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    background-color: white;
    color: #976B5B;
    font-family: Bold Italic;
    font-size: 15px;
    border: none;
    font-weight: bold;
}

.logout_btn {
    position: relative;
    height: 50px;
    width: 70px;
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    background-color: white;
    color: #976B5B;
    font-family: Bold Italic;
    font-size: 15px;
    border: none;
    font-weight: bold;
}

.login_btn {
    position: relative;
    height: 50px;
    width: 70px;
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    background-color: white;
    color: #976B5B;
    font-family: Bold Italic;
    font-size: 15px;
    border: none;
    font-weight: bold;
}

.join_btn {
    position: relative;
    height: 50px;
    width: 70px;
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    background-color: white;
    color: #976B5B;
    font-family: Bold Italic;
    font-size: 15px;
    border: none;
    font-weight: bold;
}

.nav_bar_btn {
    user-select: none;
}

.nav_bar_btn:hover {
    color: black;
}

