{% extends 'freeboard/freeboard_base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/freeboard/free_board_detail_Style.css' %}">
    <link rel="stylesheet" href="{% static 'css/freeboard/free_board_list_Style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function create() {
            window.location.href = "{% url 'freeboard_post_create' %}";
        }
    </script>

    <style>
        .navigation {
            margin: 0; /* 기본 여백 제거 */
            padding: 0; /* 기본 패딩 제거 */
            border: none; /* 테두리 제거 */
            display: flex;
            flex-direction: row; /* 요소들을 가로로 정렬 */
            width: 85%;
            height: 10%;
        }        
        table {
            width: 65%;
        }

        td {
            font-size: 14px;
            text-align: left;
        }
    </style>

    <br><br><br>
    <table>
        <tr style="font-size:12px">
            <td>
                <h1 style="font-weight: bold;color: #976B5B;">{{ post.title }}</h1> <br>💁 {{ post.author }} &nbsp; | &nbsp; 🕓 {{ post.created_at|date:"Y년 m월 d일" }}
                {% if user.nickname == post.author %}
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="{% url 'freeboard_post_edit' post.pk %}">수정</a> |
                    <a href="{% url 'freeboard_post_delete' post.pk %}">삭제</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><br><p><pre>{{ post.content }}</pre></p><br><br><br></td>
        </tr>
        <tr>
            <td>
                <button class="back_btn" onclick="back()"></button>
                <button class="button_like" onclick="push_like()">
                    {% if is_Recommended == True %}
                        <div class="liked_emoticon"></div>
                    {% elif is_Recommended == False %}
                        <div class="like_emoticon"></div>
                    {% else %}
                        <div class="like_emoticon"></div>
                    {% endif %}
                </button>
            </td>
        </tr>
    </table>

    <script>
        function back() {
            window.location.href = '/boardlist/freeboard'
        }

    </script>



    <script>
        var csrftoken = '{{ csrf_token }}';

        function push_like() {
            {% if loginCheck == False %}
                alert('로그인 후, 추천 가능합니다.');
            {% elif user.nickname == post.author %}
                alert('자신이 작성한 게시물은 추천할 수 없습니다.')
            {% else %}
                var user_id = {{user.id}}
                var post_id = {{post.id}}
                    $.ajax({
                        url: '/boardlist/freeboard/like/',
                        data: {
                            user_id: user_id,
                            post_id: post_id
                        },
                        method: 'POST',
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function (data) {
                            alert(data.message);
                            location.reload();
                        },
                        error: function (request, status, error) {
                            let data = JSON.parse(request.responseText);
                            alert(data.message);
                        }
                    });
            {% endif %}
        }
    </script>

{% endblock %}

</html>