/* 표 css */
body {
    padding: 20px;
    color: #666;
    font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

table {
    border-collapse: collapse; /* 모서리 둥글게 */
    border-spacing: 0;
    margin: auto; /* 화면 가운데 배치 */
    width: 95%;
}

/* th,td {
  padding: 6px 15px;
} */

td {
    border-top: none;
    border-bottom: 1px solid #c6c9cc;
}


tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

/* 버튼 css */
.btn-two.green.rounded {
    background-color: #976B5B;
    border: none;
    color: white;
    padding: 1px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
}

.btn-two.green.rounded:hover {
    background-color: #65483d;
    cursor: pointer;
}

.button_container {
    width: 600px;
    text-align: center;
    height: 70px;

}

.button_like {
    background-color: white;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border: none;
    cursor: pointer;
    outline: none;
}

.button_like:focus {
    border: none;
    outline: none;
}

.like_emoticon {
    background-image: url('/static/image/Boards/heart_icon.png');
    background-size: contain;
    width: 60px;
    height: 60px;
}


.like_emoticon:hover {
    background-image: url('/static/image/Boards/colored_heart_icon.png');
    background-size: contain;
    width: 60px;
    height: 60px;
}

.liked_emoticon {
    background-image: url('/static/image/Boards/colored_heart_icon.png');
    background-size: contain;
    width: 60px;
    height: 60px;
}


.btn_text {
    width: 60px;
    margin-top: 5px;
    color: #976B5B;
    font-weight: bold;
}

.back_btn {
    background-image: url('/static/image/Boards/arrow.png');
    background-color: white;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    outline: none;
}

.back_btn:focus {
    border: none;
    outline: none;
}